doctype html
html(ng-app='FormBuilderApp')
   head
      title= title
      link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", rel="stylesheet")
      link(rel='stylesheet', href='/stylesheets/style.css')
      include ./externals.jade
      script(type='text/javascript', src='/javascripts/form-builder-app.js')
   body
      //block content
      h1 Form Builder
      div.ng-view
      script(type='text/ng-template', id='list-template.html')
        include ./form-list-table.jade
      script(type='text/ng-template', id='detail-template.html')
        include ./form-detail.jade


