doctype html
html(ng-app='FormBuilderApp')
   head
      title= title
      link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", rel="stylesheet")
      link(rel='stylesheet', href='/stylesheets/style.css')
      include ./externals.jade
      script(type='text/javascript', src='/javascripts/sortable.js')
      script(type='text/javascript', src='/javascripts/FormBuilderApp.js')
      script(type='text/javascript', src='/javascripts/DetailCtrl.js')
      script(type='text/javascript', src='/javascripts/ListCtrl.js')
  body.container
      //block content
      h1 Form Builder
      nav.nav.navbar-default
         ul.nav.navbar-nav
            li
              a(href='#/new') New
            li
              a(href='#/list') List
      div.ng-view(style='margin-top: 20px;')
      script(type='text/ng-template', id='list-template.html')
        include ./form-list-table.jade
      script(type='text/ng-template', id='detail-template.html')
        include ./form-detail.jade
      script(type='text/ng-template', id='field-list-items.html')
        include ./field-list-items.jade
      script(type='text/ng-template', id='response-list-template.html')
        include ./response-list.jade

