doctype html
html(ng-app='FormBuilderApp')
  head
    title= title
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    include ./scripts.jade
  body
    block content