body    {
    padding-top:50px;
}

.container .jumbotron    {
    border-radius:40px;
}

.table-fixed {
    min-width: 800px;
    max-width: 800px;
}

.navbar {
    margin-bottom: 20px;
}

h1 {
    font-size: 1.8em;
}

.ng-invalid {
    border-color: red;
}

.ng-valid {
    border-color: green;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }